extends ../../layouts/main.pug

block content
  if hasProducts
    h2 
      | All Products
    .grid-x.grid-margin-x
      each currentProduct in products.reverse()
        .cell.small-6.medium-4.large-3
          .radius.bordered.shadow.card
            img(src=currentProduct.imageUrl)
            .card-divider
              h5.text-center
                strong 
                  | $#{ currentProduct.price }
            .card-section
              h3 
                | #{ currentProduct.title }
              p 
                | #{ currentProduct.description }
              .button-group
                a(href=`/products/${ currentProduct.id }`)
                  button.primary.radius.bordered.shadow.button
                    | Details
                include ../../includes/add-to-cart.pug
  else
    h2.text-center No Products Found
