extends ../../layouts/main.pug

block content
  .grid-x.align-center
    .cell.medium-6.large-4
      .card.radius.shadow
        .card-section
          h2.text-center 
            | #{editMode ? "Edit Product" : "Add a Product"}
          form(action=`/admin/${editMode ? "edit-product" : "add-product"}`, method='POST')
            label
              | Title
              input(type='text', name='title' placeholder="Enter Title here!" value=`${editMode ? currentProduct.title : ""}`)
            label
              | Price
              input(type='number', name='price' placeholder="Enter Price here!" step="0.01" value=`${editMode ? currentProduct.price : ""}`)
            label
              | Description
              textarea(rows="5" name='description' placeholder="Enter Description here!")
                | #{editMode ? currentProduct.description : ""}
            if editMode
              input(type="hidden" name="currentProductId" value=currentProduct.id)
            button.button(type='submit') 
              | #{editMode ? "Update Product" : "Add Product"}
